* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

body {
  background-color: #fff;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 440px;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #000;
  z-index: 100;
  padding-top: 10px;
  box-shadow: 0px 13px 27px 6px rgba(253, 246, 139, 0.17);
}
.header__box {
  display: flex;
  justify-content: space-between;
}
.header__item-left, .header__item-right {
  display: flex;
}
.header__phone {
  display: flex;
  margin-right: 15px;
}
.header__phone-num {
  text-decoration: none;
  color: #fdf68b;
  letter-spacing: 1.6px;
  font-weight: 600;
}
.header__phone-img {
  background: url("../img/logo/phone-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.header__email {
  display: flex;
}
.header__email-link {
  text-decoration: none;
  color: #fdf68b;
  letter-spacing: 1px;
  font-weight: 600;
}
.header__email-img {
  background: url("../img/logo/message-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.header__social {
  margin-right: 10px;
}

#tg {
  background: url("../img/logo/telegram-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

#wa {
  background: url("../img/logo/whatsapp-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

#vi {
  background: url("../img/logo/viber-4-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

#in {
  background: url("../img/logo/instagram-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

#vk {
  background: url("../img/logo/vk-32.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 576px) {
  .header__email {
    display: none;
  }
  .header__phone-num {
    font-size: 0.8rem;
  }
}
.hero {
  margin-top: 40px;
  background: url("../img/desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 650px;
  background-position: top;
}
.hero__box {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
}
.hero__title {
  font-size: 1.8rem;
  color: #fdf68b;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.hero__subtitle {
  font-family: "Lobster", cursive;
  color: #fdf68b;
  letter-spacing: 5px;
  font-size: 5rem;
  margin-bottom: 40px;
}
.hero__text {
  font-family: "Lobster", cursive;
  color: #fdf68b;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .hero__box {
    width: 245px;
  }
  .hero__title {
    font-size: 1.3rem;
  }
  .hero__subtitle {
    font-size: 2.5rem;
  }
}
.services__items {
  display: flex;
  justify-content: space-between;
}
.services__item {
  width: 320px;
  text-align: center;
  padding: 20px;
  position: relative;
  background-color: #fff;
  top: -50px;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.17);
}
.services__item-title {
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}
.services__item ul {
  margin-left: 25px;
}
.services__item li {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

#s1 {
  background: url("../img/logo/chek.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#s2 {
  background: url("../img/logo/hearse.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#s3 {
  background: url("../img/logo/tomb.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 660px) {
  .services__items {
    display: block;
  }
  .services__item {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 260px;
  }
}
.about {
  background: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 535px;
  background-position: top;
}
.about__box {
  width: 800px;
  margin: 0 auto;
  padding-top: 150px;
}
.about__title {
  color: #fdf68b;
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}
.about__text {
  color: #fdf68b;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 25px;
}

@media screen and (max-width: 816px) {
  .about {
    height: 638px;
  }
  .about__box {
    width: 500px;
  }
  .about__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .about {
    height: 887px;
  }
  .about__box {
    width: 280px;
  }
  .about__text {
    font-size: 0.8rem;
  }
}
.gallery {
  background-color: #000;
  height: 520px;
  padding-top: 30px;
}
.gallery__title {
  text-align: center;
  color: #fdf68b;
  line-height: 30px;
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.button {
  height: 120px;
  background-color: #000;
  padding-top: 30px;
}
.button__btn {
  width: 250px;
  height: 40px;
  margin: 0 auto;
  background-color: #fdf68b;
  padding: 10px 0 0 20px;
  border-radius: 3px;
  transition: all 0.3s;
}
.button__btn a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.button__btn:hover {
  opacity: 0.5;
}

.slider {
  width: 650px;
  height: 321px;
  position: relative;
  margin: 0 auto;
}

#slide1 {
  background: url("../img/b2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 400px;
  background-position: center;
}

#slide2 {
  background: url("../img/5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 400px;
}

#slide3 {
  background: url("../img/b1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 400px;
  background-position: center;
}

#slide4 {
  background: url("../img/4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 400px;
}

#slide5 {
  background: url("../img/b3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 400px;
  background-position: center;
}

.slider .slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 110%;
}

.slick-dots button {
  background: transparent;
  border: solid 2px #fff;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  margin: 15px;
  outline: none;
  overflow: hidden;
  font-size: 0;
}

.slick-dots button:hover {
  cursor: pointer;
}

.slick-dots li[class=slick-active] button {
  background: #fff;
}

@media screen and (max-width: 816px) {
  .slider {
    width: 80%;
  }

  #slide5 {
    background-size: contain;
  }
}
#modal {
  display: none;
  width: 250px;
  height: 260px;
  background-color: #000;
}
#modal form {
  text-align: center;
}
#modal input {
  margin: 0 auto;
  margin-bottom: 30px;
  border: none;
  background-color: #fdf68b;
}
#modal input[type=text] {
  height: 35px;
  font-size: 0.9rem;
  padding-left: 10px;
}
#modal input[type=submit] {
  margin: 0 auto;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3px;
}
#modal .fancybox-button {
  color: #fdf68b;
}/*# sourceMappingURL=style.css.map */