*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto Condensed', sans-serif
    font-size: 16px

body
    background-color: #fff

.container
    max-width: 1170px
    padding: 0 20px
    margin: 0 auto

@media screen and ( max-width:768px  )
    .container
        max-width: 720px       

@media screen and ( max-width:576px  )
    .container
        max-width: 540px     
         
@media screen and ( max-width:480px  )
    .container
        max-width: 440px  