@import "../_vars"
.gallery
    background-color: #000
    height: 520px
    padding-top: 30px
    &__title
        text-align: center
        color:$gold
        line-height: 30px
        font-size: 2rem
        letter-spacing: 1px
        margin-bottom: 40px